$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#nas-dir-header {
    font-size: 15px;
    color: #BEBEBE;
    font-weight: 100;
    cursor: default;
    line-height: 30px;
    background: #FFF;
    display: table;
    width: 80%;
}

#nas-dir-header > span {
    display: table-cell;
    box-sizing: border-box;
}

#dir-header-name,
.dir-content-name,
.dir-content-name-edit {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    overflow: hidden;
}

#dir-header-name {
    width: 65%;
    padding-left: 10px;
    padding-right: 0;
}

#dir-header-size,
.dir-content-size {
    display: inline-block;
    width: 11%;
    padding-left: 15px;
    vertical-align: middle;
    text-align: left;
}

#dir-header-size {
    position: relative;
}

#dir-header-modified,
.dir-content-modified {
    display: inline-block;
    width: 13.4%;
    padding-right: 9px;
    padding-left: 41px;
    vertical-align: middle;
    text-align: left;
}

#dir-header-modified {
    padding-right: 30px;
}

.dir-content-modified {
    padding-left: 0;
    white-space: pre;
}